.popup{
	display:inline-block;
	position: absolute;
	z-index: 5;
	top:20%;
	left:40%;
	&__head{
		background: $light-gray;
	}
	&__body{
		padding: 30px 25px 30px 25px;
		background: #fff;
	}
	//display:none;
}