block vars
	-
		tel1 = {
			text: "8 (800) 700-48-37",
			link: "tel:78007004837"
		}

		tel2 = {
			text: "+7 (812) 448-10-37",
			link: "tel:78124481037"
		}

		mail = {
			text: "info@rostservice.com",
			textRed: "<span class='red'>info</span>@rostservice.com"
		}

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | RostService
	body
		include ../partials/header
		include ../partials/popup
		include ../partials/side-menu

		.wrapper
			include ../partials/topmenu

			main.main
				block content
			include ../partials/footer

			// END OF VISIBLE CONTENT

			//- Write invisible content here