.attention{
	margin-bottom: 30px;
	&__head{
		margin-top: 25px;
		color: $red;
		text-align: left;

		&:before{
			content: '\f06a';
			font-family: $font-fa;
			padding-right: 5px;
		}
	}
	&__body{
		color: $dark-gray;
	}
}