.car {
	text-align: center;
	&:hover{
		.car__title{
			color: $red;
		}
	}

	&__img {
		display: block;
		padding-bottom: 60%;
		background: no-repeat 50% 100%;
		background-size: contain;
		margin-bottom: 15px;
	}

	&__title {
		color: $gray;
		text-decoration: none;
		margin: 0;

		//&:hover {
		//	color: $red;
		//}
	}
}