.card {
	height: 100%;
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 15px;
	overflow: hidden;
	border-right: 1px solid $light-gray;
	transition: $duration ease;
	max-width: 350px;
	margin: 0 auto;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 7px;
		width: 100%;
		height: 15px;
		border: 1px solid $light-gray;
		border-bottom: none;
		border-right: none;
		transform: skewX(-45deg);
		background: white;
	}

	//&:hover {
	//	box-shadow: 0 0 7px 0 rgba(black, .1);
	//}

	&__wrap {
		height: 100%;
		width: 100%;
		padding: 0 15px 15px 15px;
		border-left: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		display: flex;
		flex-direction: column;
		background: white;
	}
	&__img-wrap {
		border-bottom: 1px solid $light-gray;
		padding: 5px 5px 15px;
		margin-bottom: 15px;
		position: relative;
	}

	&__img {
		display: block;
		padding-bottom: 100%;
		background: no-repeat 50% 50%;
		background-size: contain;

		&_lower {
			padding-bottom: 80%;
		}
	}

	&__discount {
		position: absolute;
		top: 5px;
		left: 5px;
		pointer-events: none;
	}

	&__mark {
		max-width: 50px;
		max-height: 50px;
		position: absolute;
		top: 5px;
		right: 5px;
		pointer-events: none;
	}

	&__logos-wrap {
		width: 100%;
		padding-bottom: 20%;
		position: relative;
	}

	&__logos-i {
		position: absolute;
		top: 0;
		left: -5px;
		bottom: 0;
		right: -5px;
		display: flex;
		justify-content: space-around;
	}

	&__logos-item {
		width: 33.33333%;
		padding: 0 5px;

		&:first-child {
			padding: 0 10px 0 0;
		}

		&:last-child {
			padding: 0 0 0 10px;
		}
	}

	&__logos-item-i {
		width: 100%;
		height: 100%;
		background: no-repeat 50% 50%;
		background-size: contain;
	}

	&__text-wrap {
		padding: 5px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__subtitle {
		margin: 0 0 10px;
		color: $gray;
		font-size: 1.4rem;
		width: 100%;
	}

	&__vendor {
		@extend .card__subtitle
	}

	&__text-i {
		font-weight: bold;
		margin: auto 0 0;
		width: 100%;
	}

	&__price-wrap {
		margin: 5px 0 10px;
	}

	&__price {
		font-size: 2.7rem;
		color: $red;
	}

	&__currency {
		font-size: 2rem;
		color: $dark-gray;
	}

	&__btn {
		margin-top: 5px;
	}
}