.checkbox {
	padding-left: 20px;
	position: relative;
	display: block;
	font-size: 12px;
	cursor: pointer;
	line-height: 2;

	&__vis {
		height: 12px;
		width: 12px;
		border: 1px solid $gray;
		background: $light-gray;
		border-radius: 3px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
	}

	&__hid {
		display: none;
	}

	&__hid:checked + &__vis:before {
		content: '\f00c';
		font-family: $font-fa;
		color: $red;
		font-size: 11px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}