.footer {
	&__head{
		border-top: solid 1px $light-gray;
		padding: 10px 0;

		@include screen-sm(){
			display: none;
		}
	}
	&__logo{
		max-width: 165px;
	}
	&__main{
		background: $light-gray;
		color: $gray;
		padding: 25px 0;
		@include screen-sm(){
			padding: 10px 0;
		}
	}

	&__menu-link{
		font-size: 1.6rem;
		display: block;
		padding: 7px 0;

		@include screen-sm(){
			padding: 5px 0;
		}

		@include screen-xs(){
			text-align: center;
		}

		&:first-child{
			padding-top: 0;
		}

		&:last-child{
			padding-bottom: 0;
		}

		&:hover{
			color: $red;
		}
	}
	&__motto{
		font-size: 1.5rem;
		color: $dark-gray;
	}
	&__contacts{
		p{
			margin: 0 0 5px 0;
		}
		@include screen-xs(){
			text-align: center;
		}
	}
	&__info{
		font-size: 1.6rem;
		color: $dark-gray;
		font-weight: bold;
		margin-bottom: 10px;
		display: inline-block;

		@include screen-lg(){
			font-size: 1.4rem;
		}

		&_sm{
			font-size: 1.4rem;
			@include screen-lg(){
				font-size: 1.1rem;
			}
		}


	}
	&__subscribe{
		margin-top: 50px;
		margin-bottom: 5px;
		text-align: left;

		@include screen-md(){
			margin-top: 15px;
		}
		@include screen-xs(){
			text-align: center;
		}
	}
	&__email{
		position: relative;
	}

	&__input-wrap {
		position: relative;
	}

	&__send{
		background: #fff;
		outline: none;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 40px;
		border:none;
		color: $red;
		font-size: 17px;
		transition: color ease .3s;
		padding: 0;
		cursor: pointer;

		&:hover{
			color: $dark-gray;
		}

		.fa {
			width: 100%;
			line-height: 1.4;
			border-left: solid $light-gray 1px;
			border-right: 1px solid transparent;

			&::before {
				display: block;
			}
		}

		&:active {

			.fa {

				&::before {
					margin-top: 1px;
				}
			}
		}
	}
	&__input{
		height: 35px;
		font-size: 1.6rem;
		padding: 10px 41px 10px 10px;
		border: none;

		@include  input-placeholder(){
			font-style: normal;

		}

	}
	&__checkbox{
		margin-top: 20px;
		@include screen-md(){
			margin-top: 10px;
		}
	}
	&__head-mobile{
		margin: 20px 0 15px 0;
		@include screen-sm(min){
			display: none;
		}
		@include screen-xs(){
			text-align: center;
		}
	}
	&__socials{
		padding-left: 10px;
	}
	&__title{
		margin-bottom: 0;
		text-align: left;
		@include screen-xs(){
			text-align: center;
		}
	}
}

a.footer__info {

	&:hover {
		color: $red;
	}
}