.list {
	text-align: center;

	@include screen-md(){
		margin: 20px 0;
	}

	&__head {
		display: block;

		&:hover {

			.list__title {
				color: $red;
			}
		}
	}
	&__img {
		display: inline-block;
		width: 100%;
		padding-bottom: 50%;
		background: no-repeat 50% 50%;
		background-size: contain;
		margin-bottom: 10px;
	}
	&__items {
		text-align: left;
	}

	&__item {
		position: relative;
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		padding: 5px 40px 5px 0;
		color: $gray;
		border-bottom: 1px solid lighten($light-gray, 5%);

		&:first-child {
			border-top: 1px solid lighten($light-gray, 5%);
		}

		&::after {
			content: '\f178';
			font-family: $font-fa;
			color: $red;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: $duration ease;
		}

		&:hover {
			color: $red;

			&::after {
				right: 0;
				opacity: 1;
			}
		}

		&:active {

			&::after {
				right: -15px;
				opacity: 0;
			}
		}

		&_big{
			padding: 15px 10px;
			display: flex;
			align-items: center;
			text-align: left;
		}
	}

	&__plus {
		padding: 20px 30px;
	}

	&__more-wrap {
		padding: 20px 0;
	}


	&__more {
		cursor: pointer;
		display: inline-block;
		font-size: 1.4rem;

		&:hover {
			color: $red;

		}
	}
	&__side-img{
		width:30px;
		height: 30px;
		margin-right: 15px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		img{
			max-height: 100%;
			max-width: 100%;
		}
	}

	&_models{
		margin-top: 10px;
		.list__item {
			padding: 5px 0;
			text-align: left;

			&::after {
				display: none;
			}
		}
		@include screen-md(){
			margin-top: 0;
		}
	}
	&_mb{
		margin-bottom: 30px;
	}
}