.profit {
	padding: 20px;
	border: $light-gray solid 1px;
	border-bottom: $red 2px solid;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&:before{
		content: '';
		position: absolute;
		width:15px;
		height: 15px;
		transform: rotate(45deg);
		border-right: $light-gray solid 1px;
		top: -8px;
		left: -8px;
		background: #fff;
	}

	&__title {
		text-align: center;
		letter-spacing: -1px;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
		flex: 0 1 30%;
		max-width: 25%;
	}

	&__descr {
		flex: 1 0 70%;
		padding-left: 15px;
	}

	&_thin {
		padding: 15px;
		padding-right: 10px;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;

		.profit {
			//=====

			&__title {
				text-align: left;
				padding-left: 15px;
				margin-bottom: 5px;
			}

			&__wrap {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}