.search-top {
	position: relative;

	&__input-wrap {
		position: relative;
	}

	&__input {
		padding: 1rem 45px 1rem 1.5rem;
		width: 100%;
		border: 1px solid $light-gray;

		@include input-placeholder(){
			color: $light-gray;
		}

		@include screen-md(){
			padding: 1rem 35px 1rem 1rem;
		}
	}
	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		width:45px;
		height: 100%;
		font-size: 1.8rem;
		color: $red;
		padding: 0.7rem 1.2rem;
		outline: none;
		border: 1px solid $light-gray;
		border-left: none;
		transition: color ease .3s;
		cursor: pointer;

		@include screen-md(){
			padding: 0.7rem 0.8rem;
		}

		&::after{
			content: '\f002';
			font-family: $font-fa;
			display: inline-block;
			position: relative;
		}

		&:hover {
			color: $dark-gray;
		}

		&:active {

			&::after {
				top: 1px;
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}
	&__descr{
		font-size: 1rem;
		padding: 2px 5px;
	}
	&_black{
		.search-top__input{
			color:#fff;
			background: $dark-gray;
		}
		.search-top__btn{
			background: $dark-gray;
			color: #fff;
			transition: color .2s ease;
			&:hover{
				color: $red;
			}
		}

	}
}