.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		width: 35px;
		height: 35px;
		font-size: 17px;
		@include screen-lg(){
			width: 30px;
			height:30px;
		}
		&:hover {
			cursor: pointer;
			filter: hue-rotate(15deg);
		}
	}
	&_fb{
		background: #3b5998;
	}
	&_tw{
		background: #55acee;
	}
	&_yb{
		background: #cf3427;
	}
	&_pin{
		background: #ca2127;
	}
	&_in{
		background: #b63591;
	}
	&_plus{
		background: #394451;
	}

}