.specialist {
	border: 1px solid $light-gray;
	font-size: 1.4rem;
	color: $dark-gray;
	margin-bottom: 30px;
	text-align: center;

	&__img {
		background: no-repeat top center;
		background-size: cover;
		padding-bottom: 120%;
	}

	&__wrap {
		padding: 20px;
	}

	&__name {
		margin-top: 0;
		margin-bottom: 5px;
	}

	&__position {
		color: $gray;
		margin-bottom: 20px;
	}

	&__mail {
		margin-bottom: 5px;
		display: block;
	}

	&__tel {
		display: block;
	}
}