.title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;

	&__bg{
		display: inline-block;
		padding: 0 15px;
		border-left: 5px solid $red;
		background: $dark-gray;
		font-size: 2.7rem;
		font-family: $font-title;
		font-weight: bold;
		text-transform: uppercase;
		transform: skewX(-20deg);
		min-width: 270px;
		color: #fff;
		position: relative;
		&:before,
		&:after {
			content: '';
			display: inline-block;
			width: 70px;
			height: 2px;
			background: $light-gray;
			position: absolute;
			top: 15px;

			@include screen-sm() {
				top: 45%;
			}

			@include screen-xs() {
				width: 30px;

			}
		}

		&:before {
			left: -90px;

			@include screen-xs() {
				left: -40px;
			}

		}

		&:after {
			right: -90px;

			@include screen-xs() {
				right: -40px;
			}
		}
		@include screen-sm() {
			font-size: 2rem;
			min-width: 220px;
		}

		@include screen-xs() {
			font-size: 1.7rem;
			min-width: 190px;
			margin: 0 40px;
		}


	}
	&__text {
		transform: skewX(20deg);

		@include screen-xs(){
			padding: 5px 0;
		}
	}
	&__descr{
		margin-top: 10px;
		font-size: 1.6rem;

		&_mt {
			margin-top: 40px;
		}
	}

	&_mb_2x {
		margin-bottom: 70px;
	}
}