.search {
	width: 100%;
	position: relative;

	&__header {
		display: flex;
		height: 70px;
		width: 100%;
		&:before {
			content: '';
			position: relative;
			top: 8px;
			width: 17px;
			height: 100%;
			background: $ultra-dark;
			transform: skewY(-45deg);
		}

		@include screen-md(){
			border-right: 1px solid #e0e2e2;
		}


	}
	&__logo {
		background: $ultra-dark;
		height: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-right: 15px;
		width: 17%;
		@include screen-md(){
			width: 18%;
		}

	}
	&__title {
		position: relative;
		background: $red;
		height: 100%;
		padding: 0 3rem;
		text-transform: uppercase;
		color: #fff;
		display: inline-flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-family: $font-title;
		font-weight: 700;
		width: 80%;
		@include screen-lg() {

			padding: 0 1.5rem;
			font-size: 1.7rem;
		}

	}
	&__subtitle {
		text-transform: uppercase;
		text-align: center;
		color: $dark-gray;
		font-size: 1.6rem;
		font-family: $font-title;
		font-weight: 700;
		@include screen-lg() {

			font-size: 1.2rem;
		}
	}
	&__advice {
		display: inline-block;
		font-size: 1.1rem;
		margin: 5px auto 15px auto;
		+ input {
			margin-bottom: 30px;
		}
		&:before{
			content: '\f05a';
			color: $red;
			font-family:'FontAwesome';

		}
	}
	&__selectors {
		padding: 3rem 2.5rem;
		background: #fff;
		text-align: center;
		@include screen-md() {
			border:1px solid $light-gray;
			border-top:none;
		}
	}

	&__btn {
		width: 100%;
		text-transform: uppercase;
		padding: 15px 55px;
		&:after {
			top: 30%;
		}
	}
	&__list {
		position: absolute;
		opacity: 0;
		z-index: -1;
		width: 80%;
		height: 100%;
		background: $light-gray;
		max-height: 100%;
		overflow-y: auto;
		padding: 2rem 3rem;
		color: $dark-gray;
		font-size: 1.6rem;
		transform: translateX(0);
		transition: opacity .1s linear .1s, transform .3s ease;

		@include screen-sm(){
			width: 100%;
			height: 80%;
			display: none;
		}

		&_open {
			transform: translateX(115%);
			opacity: 1;
			z-index: 3;
			@include screen-lg(){
				transform: translateX(112%);
			}
			@include screen-md(){
				transform: translateX(116%);
			}
			@include screen-sm(){
				transform: translateX(0);
			}
		}
	}
	&__list-title {
		font-weight: 700;
		margin-bottom: 10px;
	}

	&_index {
		position: absolute;
		left: 0;
		bottom: -90px;
		padding: 0 15px;
		z-index: 2;

		@include screen-md() {
			padding: 0 ;
			position: relative;
			top:0;
		}
		@include screen-sm() {
			width: 80%;
			margin: 0 auto;

		}
		@include screen-xs(){
			width: 100%;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 15px;
			height: 60px;
			bottom: 31px;
		}
		&:before {
			background: url("../img/search-shadow-l.png") right bottom/contain no-repeat;
			left: 0;
			@include screen-md() {
				display: none;
			}
		}
		&:after {
			background: url("../img/search-shadow-r.png") left bottom/contain no-repeat;
			right: 0;
			@include screen-md() {
				display: none;
			}
		}
	}
	&_side{

		.search__selectors{
			background: $ultra-light-gray;
			padding-right: 1.5rem;
		}
		.search__selector-vis:before, .search__selector-vis:after{
			background: #fff;
		}
		.search__title{
			padding: 0 1.5rem;
			width:70%;
		}
		.search__logo{
			width:23%;
		}
	}
}
.search-values {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	&__item {
		display: block;
		padding: 5px 0;
		cursor: pointer;

		&:hover {
			color: $red;
		}
	}
}