.hits-slider{
	position: relative;

	&__item{
		padding: 0 15px;
		outline: none;
	}
	&__prev, &__next {
		position: absolute;
		top: 45%;
		width: 40px;
		height: 40px;
		transition: all .3s ease;

		&.slick-disabled {
			filter: grayscale(100%);
			opacity: 0.5;
			&:hover {
				cursor: default;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}
	&__prev {
		left: -45px;
		background: url("../img/arrow-left.png") center/contain no-repeat;
	}
	&__next {
		right:  -45px;
		background: url("../img/arrow-right.png") center/contain no-repeat;

	}
}