//-
	data
		title - Заголовок
		img - Картинка
		link - Ссылка категории
		items - Список подкатегорий
			text - Текст подкатегории
			link - Ссылка подкатегории
		more - Цифра к надписи "Ещё моделей"

	plus - Знак плюса внизу
	titleBot - Заголовок под картинкой

mixin list(data)
	div(class="list "+attributes.class)
		a.list__head(href= data.link ? data.link : "#")
			if attributes.titleBot
				.list__img(style="background-image: url('" + data.img + "');")
				.list__title.subtitle= data.title
			else
				if data.title
					.list__title.subtitle= data.title
				if data.img
					.list__img(style="background-image: url('" + data.img + "');")

		.list__items
			each val in data.items
				a.list__item(href= val.link ? val.link : "#" class= attributes.noarr ? " list__item_noarrow" : "")= val.text

		if attributes.plus
			.list__plus-wrap
				.list__plus.plus

		if data.more
			.list__more-wrap
				.list__more Ещё моделей:
					= ' '
					= data.more