//-
	data
		link - Ссылка на страницу
		img - Картинка
		title - Заголовок
		cnt - Количество моделей

mixin mark(data)
	.mark
		a.mark__wrap(href= data.link ? data.link : "#")
			.mark__img-wrap
				img.mark__img(src= data.img)
			.mark__title.subtitle= data.title
		p.mark__count Моделей:
			= ' '
			= data.cnt