//-
	data
		link - Ссылка на страницу
		img - Картинка
		title - Заголовок
		cnt - Количество моделей

mixin mark(data)
	.mark
		a.mark__img-wrap(href= data.link ? data.link : "#")
			img.mark__img(src= data.img)
		a.mark__title.subtitle(href= data.link ? data.link : "#")= data.title
		p.mark__count Моделей:
			= ' '
			= data.cnt