mixin search()
	.search&attributes(attributes)
		.search__list
			.search__list-title Популярные марки
			ul.search-values
				li.search-values__item ГАЗ
				li.search-values__item МАЗ
				li.search-values__item ЛИАЗ
				li.search-values__item ПАЗ
				li.search-values__item КРАЗ
			.search__list-title Другие марки
			ul.search-values
				li.search-values__item Acura
				li.search-values__item Alfa Romeo
				li.search-values__item Bentley
				li.search-values__item Brilliance
				li.search-values__item Buick
				li.search-values__item Acura
				li.search-values__item Alfa Romeo
				li.search-values__item Bentley
				li.search-values__item Brilliance
				li.search-values__item Buick
				li.search-values__item Acura
				li.search-values__item Alfa Romeo
				li.search-values__item Bentley
				li.search-values__item Brilliance
				li.search-values__item Buick

		.search__header
			.search__logo
				img(src="img/search-auto.png")
			.search__title ПОИСК АВТОЗАПЧАСТЕЙ
		form.search__selectors
			.search__selector-vis.input-cust
				.input-cust__num
					span 1
				input.search__selector.input-cust__value(type="text", placeholder='Выберите марку авто')
				.input-cust__arrow

			.search__selector-vis.input-cust
				.input-cust__num
					span 2
				input.search__selector.input-cust__value(type="text", placeholder='Выберите модель авто')
				.input-cust__arrow

			.search__selector-vis.input-cust
				.input-cust__num
					span 3
				input.search__selector.input-cust__value(type="text", placeholder='Тип автозапчастей')
				.input-cust__arrow

			.search__subtitle подбор запчастей по номеру TC (VIN)
			a.search__advice(href='')  Как определить номет ТС (VIN)
			input(type="text", placeholder="Введите сюда VIN и нажмите найти")
			button.btn.btn_fill.btn_arrow.search__btn(type="submit") найти

