mixin title(text)
	.title(class = attributes.class)
		.title__bg
			h2.title__text= text
		if attributes.descr
			p.title__descr(class= attributes.marginTop ? "title__descr_mt" : "")= attributes.descr