mixin title(text)
		.title( class = attributes.class)
			.title__bg
				.title__text=text
			if attributes.descr
				.title__descr(class= attributes.marginTop ? "title__descr_mt" : "")= attributes.descr