include ../mixins/specialist

.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		.breadcrumb__last-item О компании
	.row.justify-content-center
		.col-6.col-md-4
			img.main__logo(src="img/logo-vert.png")
	.text
		.subtitle Уважаемые коллеги!
		p Мы рады приветствовать Вас на сайте компании "РостСервис". Здесь Вы сможете узнать о нашей фирме, ознакомиться с коммерческими предложениями и новостями, задать вопрос специалистам. Общество с ограниченной ответственностью "РостСервис" занимается оптовой торговлей запасными частями и агрегатами, принадлежностями к коммерческим автомобилям с февраля 2005 года. За время своего существования мы добились лидерства в сегменте поставок запасных запчастей к коммерческому транспорту производства Китая. Четкое видение цели компании, стремление к улучшению ее работы, внимательное отношение к клиентам, соблюдение принципов цивилизованной торговли позволяют нам с каждым днем достигать все более высоких результатов. Клиентами нашей компании являются как крупнейшие в своем регионе автотранспортные предприятия, так и средние, малые предприятия оптовой и розничной торговли, станции технического обслуживания. Наш коллектив - группа специалистов, знающих свое дело. Мы всегда открыты к конструктивному диалогу с партнерами, готовы рассмотреть интересные предложения и пожелания.
		p Наша компания принимает на себя все нормы и правила, соответствующие понятию современных цивилизованных деловых отношений. Так как сфера нашей деятельности связана с запасными частями для коммерческого транспорта, мы понимаем социальную значимость своей; деятельности и ведем дела, не противореча нормам социальной ответственности. Постоянно заботимся о повышении качества предоставляемого продукта, осуществляем контроль над ценами и сроками поставки, своевременно и адекватно реагируем на изменения рыночной конъюнктуры.
		.title
			.title__text ЦЕЛИ КОМПАНИИ
		.row
			.col-12.col-md-4
				.subtitle система движения продукта
				p Наша компания стремиться к созданию максимально эффективной системы движения продукта от производителей до конечного потребителя;

			.col-12.col-md-4
				.subtitle Ассортимент и качество
				p Мы хотим расширение возможностей потребителя по формированию ассортиментной политики, выбору наиболее качественной продукции;

			.col-12.col-md-4
				.subtitle поддержка и развитие бизнеса

				p Важнейшие цели - это распространение, поддержка 	и развитие этических норм бизнеса, а так же социально-культурных ценностей.

		.title
			.title__text оРГАНИЗАЦИЯ ЗАКУПОК и продаж
		p Занимаясь торговлей запасными частями для коммерческого транспорта, мы закупаем только тот продукт, который может принести нашим клиентам максимальную отдачу. Для этого регулярно анализируется динамика продаж, отслеживаются наиболее востребованные позиции, сравниваются цены и качество продукции различных производителей. При формировании ассортиментного перечня мы стараемся учесть пожелания каждого клиента.
		ul
			li Организуя процесс продаж, мы ориентируемся на потребности наших клиентов. В рабочие дни, с 09.00 до 17.00, сотрудники отдела продаж принимают заказы.
			li У VIP-клиентов заказы принимаются и обрабатываются персональными менеджерами не только в рабочие, но и в праздничные и выходные дни.
			li Экспедиторы выходят на маршрут не позднее 10.30, что позволяет нашим клиентам в Санкт-Петербурге получить товар в первой половине дня.
			li Отправка продукции в другие регионы осуществляется через транспортные компании с хорошей деловой репутацией.
			li Если Вы заинтересованы в сотрудничестве, позвоните нам по указанным телефонам. Сотрудники отдела продаж дадут Вам квалифицированную консультацию по 			ассортименту, ценам, наличию товара на складе. В случае необходимости Вас посетит наш представитель.
		.bold Надеемся на взаимовыгодное и долгосрочное сотрудничество!

		.tab
			.tab__head
				a.tab__link(href="#confidential")
					span.red-line
					| Заявление о конфиденциальности
				a.tab__link.tab__link_active(href="#requisites")
					span.red-line
					| Реквизиты нашей компании
				a.tab__link(href="#agreement")
					span.red-line
					|  Условия соглашения

			.tab__body
				.tab__content#confidential
					p 	confidentialconfidentialconfidentialconfidential

				.tab__content.visible#requisites

						p.bold ООО «РостСервис»
						p
							|
							span.circle •
							|   ИНН 7802315978
							span.circle •
							|   КПП 780201001
							span.circle •
							|   ОГРН 1057810060880
							span.circle •
						p

							|194356, г. Санкт-Петербург, ул. Хошимина, д.11, корп.2, кв.29
						p

							|Факс:        (812) 448-10-37, 448-10-38, 448-10-39
						p

							|	Телефон: (812) 448-20-37, 448-20-38, 448-20-39
						p

							|	Всероссийский номер: 8-800-700-48-37
						p
							|	р/счет № 40702810355070003784 в Северо-Западный банк ПАО Сбербанк России
						p

							|	БИК 044030653 к/счет № 30101810500000000653
						p
							|	ОКВЭД 45.31.1

				.tab__content#agreement
					p    agreementagreementagreementagreementagreement

		.title
			.title__text Наша команда специалистов
	.row
		each val in specialist
			.col-sm-6.col-md-4.col-lg-3.main__space_bot
				+specialist(val)
