include ../mixins/search
include ../mixins/list
include ../mixins/card
include ../mixins/title
include ../mixins/catalog-tab


.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		.breadcrumb__last-item Авто запчасти
.main__gray-bg
.container
	.content
		section.content__main.col-lg-9.col-md-8
			+title("поиск по каталогу")
			section.main__space_bot
				.row
					.col-md-8.offset-md-2
						form.search-top.content__search(action="search-top" name="search-top-form")
							.search-top__input-wrap
								input.search-top__input(type="text" placeholder="Например: Амортизатор")
								button.search-top__btn(type="submit")

			section.main__center
				+title("Популярные категории")

				.row
					each val in popular_cat
						.col-12.col-sm-6.col-lg-4
							+list(val)(class="list_mb")
				a.btn.btn_more(href="") Все категории
					.btn__plus.plus

			section.content__catalog.main__space_bot
				+title("Каталог автозапчастей")
				.catalog-tabs
					-var n = 0;
					-var flag;
					-for (i = 0 ; i < 5; i++){
						- flag = false;
						if i == 0
							- flag = true
							+catalog_tab(flag,i)(class="active")
						else
							+catalog_tab(flag,i)

					-}
			section
				+title("популярные запчасти")

				.row
					each val in popular_spares
						.col-12.col-sm-6.col-lg-4.main__space_bot
							+card(val)
			section
				+title("Топ Моделей авто")

				.row
					each val in top_models
						.col-12.col-sm-6.col-lg-3.list.list_models.list_mb
							each item in val.model
								a.list__item(href='')=item.item
		aside.content__side.side.col-md-4.col-lg-3.flex-md-first.no-gutter-left
			+search(class="search_side")
			.attention.side__attention
				.attention__head.subtitle ВНИМАНИЕ!
				.attention__body Внимательно следите за тем, какая марка и модель указанна в поиске выше. В противном случае, мы не несем ответсвенности если Вы дезинформируте себя и приобрете товар не подходящий для вашего авто.
			.list.side__list
				.list__title.subtitle  каталог автозапчастей
				.list__items
					each val in spare_catalog
						a.list__item.list__item_big(href="catalog-categ.html")
							.list__side-img
								i(class=val.img)
							span=val.item
			.subtitle.subtitle_red специальное Предложение
			.row.side__hits
				each val in one_card
					.col-md-12.col-sm-6.col-12.main__space_bot
						+card(val)
					.col-md-12.col-sm-6.col-12.main__space_bot
						+card(val)
			.side__banner-wrap
				img.side__banner(src="img/side_banner.jpg")
				a.btn.btn_white.side__banner-btn(href="") Подробнее
			.subtitle Способы оплаты
			.side__pay.pay
					each val in pay
						.pay__item
							img.pay__img(src="img/"+val.item)




