include ../mixins/specialist
include ../mixins/title

.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		.breadcrumb__last-item Контакты

	+title("Контактная информация")

	.row
		.col-md-4.main__cont-wrap
			.subtitle гарантия на товар
			p г.Санкт-Петербург, Шуваловский пр-т д.32 (Центральная складская база "Шуваловская")

		.col-md-4.main__cont-wrap
			.subtitle Время работы офиса и склада
			p С 9:00 до 17:00 с понедельника по пятницу.

		.col-md-4.main__cont-wrap
			.subtitle Телефоны и е-mail
			p
				a.main__link(href= tel1.link) #{tel1.text}
				= ', '
				a.main__link(href= tel2.link) #{tel2.text}
				br
				a.main__link(href="mailto:" + mail.text) !{mail.textRed}

#map.map.main__map

.container
	+title("Обратная связь")


	form
		.row
			.col-md-4.mb-20
				input(type="text" placeholder="Ваше имя")
			.col-md-4.mb-20
				input(type="tel" placeholder="Ваш телефон")
			.col-md-4.mb-20
				input(type="email" placeholder="Электронная почта")
		textarea.mb-20(placeholder="Напишите Ваш вопрос, коментарий, предложение...")
		.row.justify-content-center
				a.btn.btn_tel.main__cont-btns(href="#") Обратный звонок
				input.btn.btn_fill.main__cont-btns(type="submit" value="Отправить")

	+title("Контакты специалистов")

	.row
		each val in specialist
			.col-sm-6.col-md-4.col-lg-3.main__space_bot
				+specialist(val)
