.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		a.breadcrumb__link(href="/") Авто запчасти
		a.breadcrumb__link(href="/") ГАЗ
		a.breadcrumb__link(href="/") ГАЗ-3302
		.breadcrumb__last-item Вал рулевого управления ГАЗ-3302 нижний в сборе

.suitable
	.container
		p.suitable__text Этот продукт подходит для ГАЗ-3302 (2005-2008 год) 1,6 TDI

.container