include ../mixins/title
include ../mixins/list

.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		.breadcrumb__last-item Производители

	+title("Каталог производителей")(
		descr= "Лорем ипсум долор сит амет, яуод ессе вулпутате ин усу, усу ет хинц цлита доценди. Вим яуот ерат ипсум ут, татион ратионибус усу не. Партиендо цонсеяуунтур ат нец, яуо цонгуе десерунт ат. Ех еос стет инани."
		marginTop
		class="title_mb_2x"
	)

	.row
		each val in list_logos
			.col-sm-6.col-lg-4
				+list(val)(class="list_mb list_sm" plus)