include ../mixins/search
include ../mixins/list
include ../mixins/card
include ../mixins/title

.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		a.breadcrumb__link(href="/autos.html") Марки авто
		a.breadcrumb__link(href="/models.html") Модельный ряд - ГАЗ
		.breadcrumb__last-item Газель NEXT (Фургон-Бокс)

.container
	.content
		section.content__main.col-lg-9.col-md-8
			section.main__space_bot
				+title("Газель NEXT")(descr="(Фургон-Бокс)")
				.one-model
					.one-model__img
						img(src="img/models/gaz1.jpg")
					.one-model__descr
						|	Лорем ипсум долор сит амет, цу вих сонет алияуам, ут при ессе утамур дисцере. Еи вел диам граецис, еос ут модус яуандо фастидии, вих долор алтерум еи. Не меи цетеро рецусабо. Пер ет бонорум интерпретарис, вереар вивендо бландит ат вих.

			section.main__space_bot
				+title("Категории запчастей")
				.row
					each val in spares
						.col-12.col-sm-6.col-lg-4
							+list(val)(class="list_mb")
					each val in spares
						.col-12.col-sm-6.col-lg-4
							+list(val)(class="list_mb")

			section
				+title("популярные запчасти")

				.row
					each val in popular_spares
						.col-12.col-sm-6.col-lg-4.main__space_bot
							+card(val)
					each val in popular_spares
						.col-12.col-sm-6.col-lg-4.main__space_bot
							+card(val)

			section
				+title("Другие модели - ГАЗ")
				// TODO Может убрать отступы на средних и маленьких экранах?
				.row
					each val in top_models
						.col-12.col-sm-6.col-lg-3.list.list_models.list_mb
							each item in val.model
								a.list__item(href='')=item.item

		aside.content__side.side.col-md-4.col-lg-3.flex-md-first.no-gutter-left
			+search(class="search_side")
			.attention.side__attention
				.attention__head.subtitle ВНИМАНИЕ!
				.attention__body Внимательно следите за тем, какая марка и модель указанна в поиске выше. В противном случае, мы не несем ответсвенности если Вы дезинформируте себя и приобрете товар не подходящий для вашего авто.
			.subtitle Фильтры
				p тут будут фильтры битрикса, а мы их кастомизуем

			.subtitle специальное Предложение
			.row.side__hits
				each val in one_card
					.col-md-12.col-sm-6.col-12.main__space_bot
						+card(val)
					.col-md-12.col-sm-6.col-12.main__space_bot
						+card(val)

			.subtitle Способы оплаты
			.side__pay.pay
				each val in pay
					.pay__item
						img.pay__img(src="img/" + val.item)
