include ../mixins/car
include ../mixins/mark
include ../mixins/list
include ../mixins/card

.container

	//- CAR
	.row(style="margin-top: 50px;")
		each val in car
			.col-3.main__space_bot
				+car(val)

	//- MARK
	.row(style="margin-top: 50px;")
		each val in mark
			.col-2.main__space_bot
				+mark(val)

	//- LIST
	.row(style="margin-top: 50px;")
		each val in list
			.col-3.main__space_bot
				+list(val)

			.col-3.main__space_bot
				+list(val)(plus)

			.col-3.main__space_bot
				+list(val)(titleBot)

	//- CARD
	.row(style="margin-top: 50px;")
		each val in card
			.col-3.main__space_bot
				+card(val)(class="main__card")