include ../mixins/mark
include ../mixins/list
include ../mixins/card

//- MARK
.container
	div(style="margin-top: 50px;")
	.row
		each val in mark
			.col-2.main__space_bot
				+mark(val)

//- LIST
.container
	div(style="margin-top: 50px;")
	.row
		each val in list
			.col-3.main__space_bot
				+list(val)

			.col-3.main__space_bot
				+list(val)(plus)

			.col-3.main__space_bot
				+list(val)(titleBot)

//- CARD
.container
	div(style="margin-top: 50px;")
	.row
		each val in card
			.col-3.main__space_bot
				+card(val)(class="main__card")