*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	font-family: $font-main;
	color: $gray;
}

a {
	color: inherit;
	outline: none;
	&:hover,&focus,&active{
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}

input,
textarea {
	//-webkit-appearance: none;
	//border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

hr {
	margin: 0;
}

::selection {

}

.red {
	color: $red;
}

.justify-content-between{
	justify-content: space-between;
}
.hidden-lg-down{
	@include screen-lg(){
		display: none;
	}
}
.hidden-md-down{
	@include screen-md(){
		display: none;
	}
}
.hidden-sm-down{
	@include screen-sm(){
		display: none;
	}
}

.main .profits{
	margin-top: 40px;
}