// FOOTER
footer.footer
	.footer__head
		.container
			.row.align-items-center
				.col-lg-3
					a.logo.logo_gray.footer__logo(href="/")
						img.logo__img(src="img/logo.svg")
				.col-lg-4
					.subtitle Рубрики

				.col-lg-2
					.subtitle Контакты
				.col-lg-3
					.subtitle социальные сети


	.footer__main
		.container
			.row
				.col-lg-3
				.col-lg-2
				.col-lg-2
				.col-lg-2
				.col-lg-3
