// HEADER
include ../mixins/title

header.header
	.container
		.row.justify-content-between
			.col-4.col-md-3.col-lg-2
				a.logo(href="/")
					img.logo__img(src="img/logo.svg")
			.col-xl-4.col-lg-3.hidden-md-down
				form.search-top(action="search-top" name="search-top-form")
					.search-top__input-wrap
						input.search-top__input(type="text" placeholder="Найти среди 123 025 запчастей")
						button.search-top__btn(type="submit")
					.search-top__descr.hidden-lg-down Поиск среди
						span.red  1 000 000 Автозапчастей
						|	для комерческого траспорта

			.col-xl-2.col-auto.hidden-sm-down
				.telephone.header__tel
					.telephone__text Бесплатно по России
					a.telephone__number(href= tel1.link) #{tel1.text}

			.col-xl-2.col-auto
				.top-cart.header__cart
					a.top-cart__link(href="/cart")
						img.top-cart__icon(src="img/cart.png")
						.top-cart__count 2
					span.top-cart__price 13 644.00 р
					span.top-cart__arrow
						i.fa.fa-angle-down(aria-hidden="true")

			.col-xl-2.col-auto.hidden-md-down
				a.btn.btn_fill(href="#" data-popup="#popup") Вход / Регистрация
			.btn.btn_fill.menu-toggle
				span.menu-toggle__bar