
include ../mixins/menu

div.side-menu
	div.btn.btn_white.menu-toggle.side-menu__toggle
		span.menu-toggle__bar
	a.btn.btn_white.side-menu__enter(href="") Вход / Регистрация

	form.search-top.search-top_black.side-menu__search-top(action="search-top" name="search-top-form")
		.search-top__input-wrap
			input.search-top__input(type="text" placeholder="Найти")
			button.search-top__btn(type="submit")
				i.fa.fa-search-top(aria-hidden="true")
	+menu(menu)