.tab {
	&__head {
		border-bottom: 2px solid $light-gray;
		text-align: center;

		@include screen-md() {
			text-align: left;
		}
	}
	&__link {
		display: inline-block;
		position: relative;
		margin-bottom: -2px;
		font-size: 1.6rem;
		background: $gray;
		color: #fff;
		padding: 8px 25px;
		text-transform: uppercase;
		font-family: $font-title;
		font-weight: bold;
		border-top: 2px solid #fff;
		border-bottom: 2px solid $light-gray;
		min-width: 190px;

		@include screen-lg() {
			padding: 8px 20px;
			font-size: 1.5rem;
		}
		@include screen-md() {
			display: block;
			max-width: 500px;
			margin: 0 auto;
			text-align: center;
		}
		@include screen-xs() {
			padding: 8px 15px;
			font-size: 1.4rem;
		}
		&:hover {
			background: $dark-gray;
			color: #fff;
		}

		&:before, &:after {
			content: '';
			display: block;
			width: 15px;
			height: 100%;
			top: 0px;
			background: inherit;
			position: absolute;
			z-index: 2;
			@include screen-xs() {
				width: 11px;
			}
		}

		&:before {
			transform: skewX(-20deg);
			left: -6px;
			border-left: $dark-gray solid 3px;
			@include screen-md(min) {
				border-left: none;
			}
			@include screen-xs() {
				left: -5px;
			}
		}
		&:after {
			transform: skewX(20deg);
			right: -6px;
			border-right: $dark-gray solid 3px;

			@include screen-md(min) {
				border-left: $dark-gray solid 3px;
			}

			@include screen-xs() {
				right: -5px;
			}
		}

		@include screen-md(min) {
			&:before {
				transform: skewX(-20deg);
				left: -6px;
				@include screen-xs() {
					left: -5px;
				}
			}
			&:after {
				transform: skewX(-20deg);
				right: -6px;
				border-left: $dark-gray solid 3px;
				@include screen-xs() {
					right: -5px;
				}
			}
		}

		&_active {
			background: #fff;
			color: $ultra-dark;
			border-top: 2px solid $light-gray;
			z-index: 3;
			border-bottom: 2px solid $light-gray;
			@include screen-md(min) {
				border-bottom: 2px solid #fff;

			}
			.red-line {
				display: inline-block;
				position: absolute;
				background: $red;
				width: 5px;
				height: calc(100% + 2px);
				transform: skewX(-20deg);
				left: -5px;
				top: 0;
				z-index: 5;
			}

			&:hover {
				background: #fff;
				color: $ultra-dark;
			}
			&:before {
				border-left: 2px solid $light-gray;
			}
			@include screen-md(min) {

				&:before, &:after {
					z-index: 4;
					border-bottom: 2px solid #fff;
					border-top: 2px solid $light-gray;
					height: calc(100% + 4px);
					top: -2px;
				}
				&:before {
					border-left: 2px solid $light-gray;
				}
				&:after {
					transform: skewX(20deg);
					border-left: none;
					border-right: 2px solid $light-gray;
				}

				~ .tab__link {

					&:before, &after {
						border-right: none;
					}
					&:before {
						transform: skewX(20deg);
						border-left: $dark-gray solid 3px;
					}
					&:after {
						transform: skewX(20deg);
						border-left: none;
					}
				}
				+ .tab__link {
					&:before {
						border-right: $dark-gray solid 3px;
					}
				}

			}
		}

		//&:first-child{
		//	&:before{
		//		left:-7px;
		//	}
		//}
		//
		//&:last-child{
		//	&:after{
		//		right:-7px;
		//	}
		//}

	}

	&__content {
		padding: 25px 0;
		display: none;
		text-align: center;

		&.visible {
			display: block;
		}
	}

	&__text {
		margin: 0 0 25px 0;
	}

	&__feature {
		margin-bottom: 5px;
	}

	&__quiz {
		margin: 0 0 30px;

		&:last-child {
			margin: 0;
		}
	}

	&_bigger {
		font-size: 1.6rem;
	}
}