extends layouts/default

append vars
	-
		page = {
			title: 'Контакты'
		}

append head
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4gYQ3c1LGzyWyLN65QSTM7mtIHu_dNcA&signed_in=true&callback=initMap" async defer)

block content
	include pages/contacts